<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kimhunz.controlapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:label="@string/title_activity_home" android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
            <intent-filter>
                <action android:name="OPEN_HomeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


        <service android:name=".FirebaseMessingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT">

                </action>
            </intent-filter>
        </service>

        <service
            android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f2355cd8123f0b9d86728093d66a65eba1f036e2" />
    </application>

</manifest>